<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SERVICIOS DE LA APLICACION</title>
</head>
<body>
  <section>
    <!-- etiqueta sumary para hacer desplegable de los servicios siguiendo fielmente el estilo del mockup del proyecto -->
    <details>
      <summary>Transporte</summary>
      <p>Busqueda, comparacion de precios (ida y vuelta, solo ida, multidestino), reserva y mision de billetes.</p>
    </details>

    <details>
      <summary>Alojamientos</summary>
      <p>Hoteles, hotales, casas rurales, con opciones de filtrado por precio, tipo, ubicacion, ser
        servicios, etc. </p>
    </details>

    <details>
      <summary>Parques Turisticos</summary>
      <p>Ofertas Preestablecidas que combinan tranporte, alojamiento 
        y a menudo, actividades o traslados. </p>
    </details>

    <details>
      <summary>Reseñas</summary>
      <p>Acceso a opciones de otros viajeros sobre alojaminetos, 
        actividades y servicios</p>
    </details>

    <details>
    <summary>Actividades</summary>
      <p>Reserva de tours, entradas a atracciones, espectaculos
        clases de cocina, etc.</p>
    </details>

    <details>
    <summary>Traslados</summary>
      <p>Reserva de traslados desde y hacia aeropuertos, estaciones
        o puntos de interes.</p>
    </details>

    <details>
    <summary>Notificaciones</summary>
      <p>Notificaciones en tiempo real sobre el estado de viaje en bus como
        (Retrasos, cancelacion del viaje por motivos administritivas, cambios de reserva, etc.)</p>
    </details>

    <details>
    <summary>Historial</summary>
      <p>Un registro de viajes pasados y futuros.</p>
    </details>

    <details>
    <summary>Modificacion</summary>
      <p>Posibilidad de modificar o cancelar reservas (sujeto a las politicas de los proveedores).</p>
    </details>
  </section>

</body>
</html>