<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Registrarse</title>
  <link rel="stylesheet" href="/src/static/css/visitante.css" />
</head>
<body>
  <div class="register-container">
    <h2>Crear Cuenta</h2>
    <form action="#" method="POST">
      <input type="text" placeholder="Nombre completo" required />
      <input type="email" placeholder="Correo electrónico" required />
      <input type="password" placeholder="Contraseña" required />
      <input type="password" placeholder="Confirmar contraseña" required />
      <button type="submit" class="btn-register">Registrarme</button>
    </form>
    <a href="/src/templates/comprador/login.html" class="login-link">Ya tengo cuenta → Iniciar Sesión</a>
  </div>
</body>
</html>