<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Bienvenido Admin</title>
  <link rel="stylesheet" href="/src/static/css/ADMIN/principal-admin.css" />
</head>
<body>
  <div class="layout">

    <!-- Menú hamburguesa para móvil -->
    <input type="checkbox" id="menu-toggle" class="menu-toggle" />
    <label for="menu-toggle" class="menu-toggle-label">☰</label>

    <aside class="sidebar">
      <div class="sidebar__header">
        <img src="/src/static/imagenes/ADMIN/PERFIL ADMIN.jpg" alt="Avatar de Mich" class="sidebar__avatar" />
        <h1 class="sidebar__greeting">Hola Mich!</h1>
      </div>
      <nav class="sidebar__nav">
        <ul class="sidebar__menu">
          <li class="sidebar__menu-item"><a href="" class="sidebar__menu-link">Menu</a></li>
          <li class="sidebar__menu-item"><a href="" class="sidebar__menu-link">Panel de Descarga</a></li>
          <li class="sidebar__menu-item"><a href="" class="sidebar__menu-link">Ver balance General</a></li>

        </ul>
      </nav>
      <div class="sidebar__footer">
        <a href="/index.html" class="sidebar__logout">Cerrar Sesion      📤</a>
      </div>
    </aside>

    <main class="main-content">
      <div class="main-content__bg-diagonal"></div>
      <div class="main-content__text">
        <h2>!BIENVENIDO ADMINISTRADOR¡</h2>
      </div>
    </main>
  </div>
</body>
</html>