<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="/src/static/css/login.css" />
</head>
<body>
  <div class="login-container">
    <h2>Iniciar Sesión</h2>
    <form action="#" method="POST">
      <input type="email" placeholder="Ingrese el correo" required />
      <input type="password" placeholder="Ingrese la contraseña" required />
      <a href="#" class="forgot-password">Se me olvidó la contraseña?</a>
      <button type="submit" class="btn-login">Iniciar Sesión</button>
    </form>
    <a href="/src/templates/visitante/vista_visitante.html" class="register-link">REGISTRARME</a>
  </div>
</body>
</html>